@import "tailwindcss";

@layer components {
  .input-validation {
    @apply ring-2 ring-transparent
      invalid:border-red-500
      invalid:ring-red-500/30
      valid:border-green-500
      valid:ring-green-500/30;
  }
}
